.about-us {
    margin: auto;
    display: flex;
    flex-direction: row;
}

.about-img{
    position: absolute;
    right:0;
    top:10%;
    min-width: 300px;
    max-width: 50%;
    height: 80%;
    border: 2px solid var(--clr-mid);
}

.title {
    text-align: center;
}
.img-modified{
    object-fit:scale-down ;
}

.about-text {
    width: 50%;
    display: flex;
    gap: clamp(1vh, 5vh, 10vh);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;   
}

 h1  {
    font-size: 8rem;
    font-weight: 700;
    white-space: nowrap;
    color: var(--clr-dark);
  
}

h1 span {
    font-size: 8rem;
    font-weight: 700;
    color: var(--clr-mid);
  
}

.about-text p {
    font-size: clamp(1rem,2rem,3rem);
    max-width: 80%;
    color: var(--clr-dark);
}

.button-contact {
    padding: 2rem 5rem 2rem 5rem ;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 5px;
    color: var(--clr-main);
    box-shadow: inset;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);

}

