.services {
    margin-top: 200px;

}

.services-main {
    margin-top: 10vh;
    display: flex;
    flex-wrap: wrap;
}
.card {
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    min-width: 300px;
    width:800px;
    margin:auto;
    --s: 50px; /* the size on the corner */
    --t: 5px;  /* the thickness of the border */
    --g: 20px; /* the gap between the border and image */
    
    padding: calc(var(--g) + var(--t));
    outline: var(--t) solid var(--clr-mid); /* the color here */
    outline-offset: calc(-1*var(--t));
    -webkit-mask:
      conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
      0 0/calc(100% - var(--s)) calc(100% - var(--s)),
      linear-gradient(#000 0 0) content-box;
    transition: .4s;
    margin-bottom: 2vh;
}

.card:hover{
    outline-offset: calc(var(--g)/-1);
}

.card-logo {
    height: 30%;
    width: 100%;
 
}

.card-img {
    width: 30%;
    margin: auto;
    padding-top: 10%;
}

.card-text {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 70%;
}

h3 {
    color: var(--clr-mid);
    font-size: 2vh;
    font-weight: 600;
}

h3 span {
    font-size: 2vh;
    color: var(--clr-mid);
}

.card-text p {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1vh;
    margin-top: 10%;
}